<%- include('head.ejs') %>
<div class="container">
    <p><a href="/feed/<%= result._id %>">Back</a></p>
    <h2>Edit page</h2>

    <form action="/feed/edit/<%= result._id %>" method="post">
        <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" value="<%=result.name%>" required name="name">
          </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="message" required rows="3"><%= result.message %></textarea>
        </div>
        <button type="submit" class="btn btn-warning">Submit</button>
    </form>

<%- include('bottom.ejs') %>
